h1 {
      font-size: 32px;
      margin-bottom: 30px;
    }

    .form {
      background: #fafafa;
      padding: 40px;
    }

    .form__row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-bottom: 30px;
    }

    .form__group {
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: bold;
      display: flex;
    }

    label p {
      color: red;
      margin-left: 5px;
    }

    input,
    textarea {
      padding: 14px;
      border: 1px solid #e0e0e0;
      font-size: 14px;
      height: 80px;
    }

    textarea {
      resize: none;
      height: 160px;
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 30px;
    }

    .stars {
      display: flex;
      gap: 6px;
      cursor: pointer;
    }

    .star {
      font-size: 31px;
      color: #ddd;
    }

    .star.active {
      color: #d71920;
    }

    .rating__value {
      font-size: 22px;
    }

    .button--group {
      background: #d71920;
      color: #fff;
      border: none;
      font-size: 14px;
      cursor: pointer;
      width: 372px;
      height: 86px;
    }

    .form__group textarea {
      height: 224px;
    }

    @media (max-width: 768px) {
      .form__row {
        grid-template-columns: 1fr;
      }

      .button--group {
        width: 100%;
      }
    }