* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  padding: 40px;
}

.accordion {
  max-width: 1300px;
  margin: 0 auto;
}

.accordion__item {
  background: #FAFAFA;
  margin-bottom: 10px;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-top: 36px;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: 600;
}

.accordion__icon {
  font-size: 22px;
  transition: transform 1s ease;
  padding-right: 32px;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  color: #777;
  line-height: 1.6;
  transition: max-height 0.4s ease;
  max-width: 800px;
  padding-left: 25px;
}

.accordion__item.active .accordion__content {
  max-height: 200px;
  padding-bottom: 15px;
  transition: 1s ease;
}

.accordion__item.active .accordion__icon {
  transform: rotate(45deg);
  
}
