.vacancies{
    display: flex;
    margin-top: 40px;
}

.pegetitle__crumbs{
    font-size: 1rem;
    margin-top: 10px;
}

.vacancies__title{
    font-size: 2.344rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.card-container{
    display: grid;
    gap: 24px;
    justify-content: center;
    margin-top: 20px;
}

.card {
  background: #FAFAFA;
  padding: 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 422px;
  height: 391px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  color: #777;
  margin-bottom: 14px;
}

.description {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
  margin-bottom: 20px;
}

.salary {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: none;
   width: 188px;
  height: 76px;
}

.btn:last-child{
    border: 1px solid #222222;
}

.btn.primary {
  background: #D01C20;
  color: #fff;
  border: 1px solid #D01C20;
  
}

.btn.primary:hover {
  background: #b9151b;
}

#job-title{
    font-size: 2.375rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.job-details{
    margin-top: 44px;
}

.job-description{
    font-size: 17px;
}

#job-salary{
    font-size: 30px;
    font-weight: 600;
}

.btn-details{
    border: 1px solid #D01C20;
}

@media (min-width: 1300px){
    .card-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1299px){
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px){
    .card-container{
        grid-template-columns: 1fr;
    }

    .card{
        width: 358px;
        height: 317px;
    }

    .card-container{
        justify-content: center;
    }

    .btn-details{
        width: 100%;
    }
}